.drop {
    position: relative;
    width: 20px;
    height: 20px;
    top: -30px;
    margin: 0 auto;
    background: IndianRed;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -moz-animation-name: drip;
    -webkit-animation-name: drip;
    animation-name: drip;
    -moz-animation-timing-function: cubic-bezier(1, 0, .91, .19);
    -webkit-animation-timing-function: cubic-bezier(1, 0, .91, .19);
    animation-timing-function: cubic-bezier(1, 0, .91, .19);
    -moz-animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.drop:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 30px solid IndianRed;
    top: -22px;
}



@keyframes ripple {
    from {
        opacity: 1;
    }

    to {
        width: 600px;
        height: 300px;
        border-width: 1px;
        top: -100px;
        opacity: 0;
    }
}

@keyframes ripple-2 {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        width: 200px;
        height: 100px;
        border-width: 1px;
        top: 100px;
        left: 200px;
    }
}

@keyframes drip {
    to {
        top: 190px;
    }
}



.title {
    font-weight: 500;
    font-size: 5vw;
    filter: url(#goo);
    font-family: Raleway, sans-serif;
    letter-spacing: .12em;
    color: IndianRed;
}

.dropy {
    width: .1em;
    height: .1em;
    border-radius: 0 100% 100% 100%;
    background-color: currentColor;
    position: absolute;
    top: 72%;
    animation: dropy 3s infinite both;

    &:nth-child(1) {
        left: 14%;
    }

    &:nth-child(2) {
        left: 39%;
        animation-delay: -.4s;
    }

    &:nth-child(3) {
        left: 55%;
        animation-delay: -1.5s;
    }

    &:nth-child(4) {
        left: 82%;
        animation-delay: -.8s;
    }

    &:nth-child(5) {
        left: 95.5%;
        animation-delay: -1.3s;
    }
}

@keyframes dropy {
    0% {
        transform: translateY(0) scaleX(.85) rotate(45deg);
        animation-timing-function: ease-out;
    }

    60% {
        transform: translateY(120%) scaleX(.85) rotate(45deg);
        animation-timing-function: ease-in;
    }

    80%,
    100% {
        transform: translateY(60vh) scaleX(.85) rotate(45deg);
    }
}